
    <div class="container align-items-center justify-content-center d-flex" style="min-height: 50vh;">
        <div class="col-12 col-md-8 col-lg-5 mx-auto ">

<h3 class="card-header text-success my-3 text-center ">Forgot Password</h3>
<div class="card-body">
    <form [formGroup]="forgetForm">
        <div class="mb-3" *ngIf="showSearch">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control"  [class.is-invalid]="email.invalid&&email.touched"
            id="email" placeholder="Enter email" formControlName="email">
            <small *ngIf="emailError" class="text-danger">The email address you entered isn't connected to an account</small>
            <small  *ngIf="email.errors?.['required']&& (email.valid||email.touched)" class="text-danger">email is required</small>
            <small *ngIf="email.errors?.['pattern']&& (email.valid||email.touched)"  class="text-danger">email must match like example@gmail.com</small>
          
            <div class="form-group my-3">
            <button [disabled]="email.invalid" (click)="checkEmail()" class="btn btn-success px-3">
                <span *ngIf="" class="spinner-border spinner-border-sm mr-1"></span>
                Search
            </button>
            <a routerLink="/login" class="btn btn-link">Back to Login?</a>
        </div>
    </div>
        <div class="mb-3" *ngIf="showQ1">
            <label for="firstSchoolName" class="form-label">What was the name of the first School you Attend
                :</label>
              <input type="text" class="form-control" id="firstSchoolName" placeholder="Enter School name"
                formControlName="firstSchoolName"
                [class.is-invalid]="firstSchoolName.invalid&&firstSchoolName.touched">
              <small
                *ngIf="firstSchoolName.errors?.['required']&& (firstSchoolName.valid||firstSchoolName.touched)"
                class="text-danger">firstSchoolName is required</small>
              <small
                *ngIf="firstSchoolName.errors?.['minlength']&& (firstSchoolName.valid||firstSchoolName.touched)"
                class="text-danger">firstSchoolName length greater than 2 letter</small>
                <small *ngIf="q1Error" class="text-danger">Incorrect Answer</small>
            <div class="form-group my-3">
            <button [disabled]="firstSchoolName.invalid" (click)="checkQ1()" class="btn btn-success px-3">
                <span *ngIf="" class="spinner-border spinner-border-sm mr-1"></span>
                Next
            </button>
            <a routerLink="/login" class="btn btn-link">Back to Login?</a>
        </div>
    </div>
        <div class="mb-3" *ngIf="showQ2">
            <label for="childhoodNickname" class="form-label">What was your childhood nickname :</label>
            <input type="text" class="form-control" id="childhoodNickname" placeholder="Enter nickname"
              formControlName="childhoodNickname"
              [class.is-invalid]="childhoodNickname.invalid&&childhoodNickname.touched">
            <small
              *ngIf="childhoodNickname.errors?.['required']&& (childhoodNickname.valid||childhoodNickname.touched)"
              class="text-danger">childhoodNickname is required</small>
            <small
              *ngIf="childhoodNickname.errors?.['minlength']&& (childhoodNickname.valid||childhoodNickname.touched)"
              class="text-danger">childhoodNickname length greater than 2 letter</small>
              <small *ngIf="q2Error" class="text-danger">Incorrect Answer</small>
            <div class="form-group my-3">
            <button [disabled]="childhoodNickname.invalid" (click)="checkQ2()" class="btn btn-success px-3">
                <span *ngIf="" class="spinner-border spinner-border-sm mr-1"></span>
               Next
            </button>
            <a routerLink="/login" class="btn btn-link">Back to Login?</a>
        </div>
    </div>
        <div class="mb-3" *ngIf="showQ3">
            <label for="motherMiddleName" class="form-label">What is your mother's middle name :</label>
                    <input type="text" class="form-control" id="motherMiddleName" placeholder="Enter name"
                      formControlName="motherMiddleName"
                      [class.is-invalid]="motherMiddleName.invalid&&motherMiddleName.touched">
                    <small
                      *ngIf="motherMiddleName.errors?.['required']&& (motherMiddleName.valid||motherMiddleName.touched)"
                      class="text-danger">motherMiddleName is required</small>
                    <small
                      *ngIf="motherMiddleName.errors?.['minlength']&& (motherMiddleName.valid||motherMiddleName.touched)"
                      class="text-danger">motherMiddleName length greater than 2 letter</small>
                      <small *ngIf="q3Error" class="text-danger">Incorrect Answer</small>
            <div class="form-group my-3">
            <button [disabled]="motherMiddleName.invalid" (click)="checkQ3()" class="btn btn-success px-3">
                <span *ngIf="" class="spinner-border spinner-border-sm mr-1"></span>
                Next
            </button>
            <a routerLink="/login" class="btn btn-link">Back to Login?</a>
        </div>
    </div>
        <div class="mb-3" *ngIf="showReset">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="password"
              [class.is-invalid]="password.invalid&&password.touched">
            <small *ngIf="password.errors?.['required']&& (password.valid||password.touched)"
              class="text-danger">password is required</small>
            <small *ngIf="password.errors?.['pattern']&& (password.valid||password.touched)"
              class="text-danger">password must start with capital letter and length is more than or equal 8
              letter</small>

            <div class="form-group my-3">
            <button [disabled]="password.invalid" (click)="resetPassword()" class="btn btn-success px-3">
                <span *ngIf="" class="spinner-border spinner-border-sm mr-1"></span>
                Reset
            </button>
            <a routerLink="/login" class="btn btn-link">Back to Login?</a>
        </div>
    </div>
    </form>
</div>

</div>
</div>
