<div >
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 col-sm-12  ">
                <img src="assets/imgs/logo.png" alt="" class="img-fluid" >
            </div>
            <div class="col-lg-6 col-sm-12 ">           
                <p class="text-muted ps-2 text-center ">The Online Test Platform with advanced 
                    theme builder for your assessments and quizzes. Customize the look and feel of 
                    the exam platform as your company branding. Design the test interface
                     precisely same as medical, nursing, legal, and banking exam systems.
                </p>     
            </div>
        </div>
    </div>
</div>