
<app-homefirst></app-homefirst>
<app-features></app-features>
<app-test-iq></app-test-iq>
<app-topic></app-topic>
<app-system></app-system>

<app-instructor id="instructor"></app-instructor>

<div class="container my-5">
    <h2 class="text-success text-center">What Is an IQ ?</h2>           
    <p class="text-muted ps-2 text-center my-3 ">
        Originally, intelligence testing was used to detect children of lower intelligence in order to place them in special education…
    </p>     
</div>
